{% extends 'myadmin/index.html' %}

{% block title %}
<title>后台管理员编辑</title>
{% endblock %}


{% block con %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">
                        管理员编辑
                    </div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog">
                        </a>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <form id="myform" action="{% url 'myadmin_authuser_edit' %}?uid={{uinfo.id}}" method="POST" enctype="multipart/form-data" class="am-form tpl-form-line-form">
                        {% csrf_token %}
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                管理组名称
                            </label>
                            <div class="am-u-sm-9">
                                <input type="text" name="username" value="{{uinfo.username}}" class="tpl-form-input" placeholder="请输入昵称">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                密码
                            </label>
                            <div class="am-u-sm-9">
                                <input type="password" name="password" class="tpl-form-input" placeholder="无需操作">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                              邮箱
                            </label>
                            <div class="am-u-sm-9">
                                <input type="email" name="email" value="{{uinfo.email}}" class="tpl-form-input" placeholder="请输入email">
                            </div>
                        </div>

                        {% if not uinfo.is_superuser %}
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                选择分组
                            </label>
                            <div class="am-u-sm-9">
                               <div style="float: left;text-align: center;">
                                   <p>可选分组</p>
                                   <select id="select1" multiple="multiple" style="width:300px;height:200px; float:left; border:1px solid rgba(255, 255, 255, 0.2); padding:4px; ">
                                      {% for v in grouplist %}
                                        <option value="{{ v.id }}">{{ v }}</option>
                                      {% endfor %}
                                   </select>
                                   <p><button id="add_all" class="btn btn-default" type="button">全部选中&nbsp;&gt;</button></p>
                               </div>

                               <div style="float: left;width: 50px;height:200px;">
                                   <ul style="margin-top: 100px;text-align: center;">
                                       <li><button id="add" class="btn btn-default" type="button">&gt;</button></li>
                                       <br>
                                       <li><button id="remove" class="btn btn-default" type="button">&lt;</button></li>
                                   </ul>
                               </div>

                               <div style="float: left;text-align: center;">
                                   <p>已选中分组</p>
                                   <select name="prms" id="select2" multiple="multiple" style="width:300px;height:200px; float:left; border:1px solid rgba(255, 255, 255, 0.2); padding:4px; ">
                                       {% for v in uinfo.groups.all %}
                                       <option value="{{ v.id }}">{{ v }}</option>
                                      {% endfor %}
                                   </select>
                                   <p><button id="remove_all" class="btn btn-default" type="button">&lt;&nbsp;全部移除</button></p>
                               </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            // 选中添加
                            $('#add').click(function(){
                                $('#select1 option:selected').appendTo('#select2');
                            })
                            // 选中移除
                            $('#remove').click(function(){
                                $('#select2 option:selected').appendTo('#select1');
                            })
                            // 全部选中
                            $('#add_all').click(function(){
                                $('#select1 option').appendTo('#select2');
                            })
                            // 全部移除
                            $('#remove_all').click(function(){
                                $('#select2 option').appendTo('#select1');
                            })
                            // 双击选中
                            $('#select1').dblclick(function(){
                                $('option:selected',this).appendTo('#select2');
                            })
                            // 双击移除
                            $('#select2').dblclick(function(){
                                $('option:selected',this).appendTo('#select1');
                            })
                            // 提交时　全部选中后提交
                            $('#myform').submit(function(){

                                 // $('#select2 option').attr('selected',true) //X
                                 $('#select2 option').prop('selected',true)

                                // return false;
                            })
                        </script>
                        {% endif %}

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}